<?xml version="1.0" encoding="UTF-8" ?>
<xmi2code>
<option key="ada.default-code" value="not implemented"/>
<option key="ada.extension" value="ads"/>
<option key="ada.template" value="ada"/>
<option key="config-file" value="xmi2code.config"/>
<option key="cpp.cpp-template" value="cpp.cpp"/>
<option key="cpp.default-code" value="#error not implemented."/>
<option key="cpp.h-template" value="cpp.h"/>
<option key="files-case" value="lower"/>
<option key="generator" value="php.pear"/>
<option key="generator-path" value="generated"/>
<option key="handler" value="umbrello"/>
<option key="indent" value="  "/>
<option key="php.default-code" value="not implemented"/>
<option key="php.extension" value="php"/>
<option key="php.pear.use-package-in-classnames" value="false"/>
<option key="php.template" value="php.pear"/>
<option key="pro.file" value="x2c.pro"/>
<option key="target" value="*"/>
<option key="template-path" value="/home/jesus/fortalk/uml/umbrello/templates/"/>
<option key="use-package-as-dir" value="true"/>
<option key="xmi-input" value=""/>
<option key="project" value="SDPHP"/>
<option key="author" value="Jesus M. Castagnetto"/>
<option key="email" value="jmcastagnetto@php.net"/>
<option key="system-base-include" value="include_once 'PEAR.php';"/>
</xmi2code>
