<style title="Default" type="text/css">
body {
	font-size: 10pt;
	margin-left:290px;
	margin-right:0em;
	margin-bottom:0em;
	background-image: url(presentations/slides/perf/ezp.png);
	background-attachment: fixed;
}
div.sticky {
	margin: 0;
	position: fixed;
	top: 0em;
	left: 290px;
	right: auto;
	bottom: auto;
}
div.navbar {
padding: 4;
margin: 0;
height: 14em;
font-family: verdana, tahoma, arial, helvetica, sans-serif;
z-index: 99;
}
div.navbar_title, div.navbar_title a, div.subtitle {
	font-size: 32px;
	color: #698fe5;
	text-decoration: none;
	text-align: left;
	font-weight: bold;
	margin-top: 20px;
}
div.subtitle {
	margin-top: 5px;
	font-size: 24;
	font-weight: normal;
	font-style: italic;
}

div.navbar_nr a {
font-size: 16px;
color: #77a;
text-decoration: none;
position: fixed;
right: 10px;
bottom: 0px;
}
div.mainarea {
position: fixed;
top: 150px;
}
ul.pres {
list-style: circle;
font-size: 24pt;
}

ul.level2 {
	list-style: circle;
	font-size: 20pt;
	margin-left: 40px;
	margin-top: -15px;
}

li.pres_bullet {
font-size: 28pt;
margin-right: 40px;
}
	
div.small_blurb {
	font-size: 24px;
}

div.blurb, div.bit_larger_output_text {
	font-size: 32px;
	width: 100%;
}

div.bit_larger_output_text {
	margin-top: 10px;
}

div.x_small_blurb {
	font-size: 0.5em;
}

div.large_blurb {
	font-size: 32px;
}

div.xx_large_blurb_center {
	font-size: 80px;
	text-align: center;
}

div.q_mark {
	text-align: center;
	margin-left: 250px;
	font-size: 480px;
}

div.shadow, code {
	font-size: 18px; width: 640px;
}

div.bit_larger, div.bit_larger code, div.bit_larger_output {
	background: #ccc;
	font-size: 20px;
	width: 100%;
}
div.bit_larger, div.bit_larger_output {
	margin-left: 20px;
	margin-right: 20px;
	width: 100%;
}

div.code_small {
	background: #ccc;
}
div.code_small code {
	font-size: 12px;
}

div.code_medium {
	background: #ccc;
}
div.code_medium code, div.code_medium pre {
	font-size: 20px;
}

div.code_large {
	background: #ccc;
}
div.code_large code, div.code_large pre {
	font-size: 24px;
}

div.event, div.event-date, div.event-presenter {
	text-align: center;
	font-size:  32pt;
}

div.pres-url-small {
	text-align: center;
	font-size:  24pt;
}

img.spaced {
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}
</style>
