<constant name="ANSWER" type="int" value="42">Answer to THE question</constant>

<constant name="PI" type="float" value="3.14"/>

<constant name="MYNAME" type="string" value="Hartmut Holzgraefe"/>

<constant name="FOOBAR" type="int" value="FOOBAR"/>
<constant name="FOOBAR"/> <!-- short form of previous constant -->
