<extension name="x3">
 [...]
  <function name="foobar">
   <proto>string foobar(void)</proto>
   <summary>A dummy function</summary>
   <description>
    This function returns a static string.
   </description>
   <code>
    RETURN_STRING("foobar", 1);
   </code>
  </function>
 [...]
</extension>